@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: white;
    text-decoration: underline;
    font-family: 'Libre Franklin', sans-serif;
}

h1 {
    width: 65%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1% 0% 3% 0%;
}

h5:hover {
    color: red;
    text-decoration-color: red;
}

h1:hover {
    color: red;
    text-decoration-color: red;
}

.trump-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.fire-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    grid-auto-rows: min-content; /* Rows adjust based on content */
    column-gap: 3%; /* Space between grid items */
    row-gap: 0%;
  }
  
.grid-item {
    text-align: left;
  }

.grid-item img {
    width: 40%;
}

.divider {
    border: none;
    height: 1px;
    background-color: black;
    width: 100%;
    margin: 10px 0;
}

/* Pop-up container (hidden by default) */
.popup {
    display: flex;
    position: fixed;  /* Use fixed to keep pop-ups within the viewport */
    z-index: 9999;
    animation: fadeIn 1s ease;
    width: auto;
    height: auto;
}

/* Pop-up content */
.popup-content {
    background: white;
    padding: 20px;    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 60vh; /* 80% of the viewport width */
    max-width: 450px; /* Max width to ensure it doesn't get too large */
    height: auto;
    max-height: 80vh; /* Max height to ensure it doesn't exceed 80% of the viewport height */
    position: relative;
    z-index: 10000;
    box-sizing: border-box;
}

.popup-content:hover { /* me */
    transform: scale(1.05);
}

/* Close button */
.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

/* Change close button color on hover */
.close-btn:hover {
    color: red;
}

/* Main message styling */
.main-message {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

/* Button message (clickable text) */
.popup-button-text {
    font-size: 16px;
    color: #00ccff;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 10px;
    text-align: center;
}

/* Hover effect for the clickable button text */
.popup-button-text:hover {
    color: #ff6600;
}
